* {
  margin: 0;
  background-color: bisque;
  width: auto;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  background-color: brown;
  color: #fafafa;
  display: grid;
  place-content: center;
  font-size: 4.5em;
  height: 100vh;
  border-bottom: 1px solid rgba(51, 51, 51, 0.404);

  @media (max-width: 768px) {
    font-size: 2.5em;
    text-align: center;
  }
}